{{#if blogPost.comments}}
  <div class="container display-flex">
    <h2>Comments</h2>
  </div>
  <div class="container display-flex">
    <div class="box col-12">
      {{#each blogPost.comments as |comment|}}
        <section class="comment">
          <div class="card flex-column box-shadow p-5 bg-light">
            <p>
              {{comment.commentsContent}}

            </p>
            <span class="comment-details">
              <span class="comment-author">{{comment.commentsAuthor}}</span>
              <span class="comment-date">{{format_date
                  comment.commentsDate
                }}</span>
            </span>
          </div>
        </section>
      {{/each}}
    </div>
  </div>
{{/if}}
<div class="container display-flex box col-6">
  <form class="form newComment-form">
    <div class="form-group">
      <label for="comment-content"><h3>Comment</h3></label>
      <textarea class="form-input" type="text" id="comment-content"></textarea>
    </div>
    <div class="form-group display-flex py-2">
      <button
        class="btn btn-primary"
        style="flex-grow: 1"
        type="submit"
      >Submit</button>
    </div>
  </form>
</div>