<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Wizards: The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-info">
  <header class="display-flex justify-space-between align-center p-2">
  <h1 style="font-size: 3rem">
    Tech Wizards: The Tech Blog
  </h1>
    <nav class="main-nav" style="font-size: 1.5rem">
      {{#if logged_in}}
      <a href="/" id= "homepage" class="pr-5">Home</a>
      <a href="/dashboard" id="dashboard" class="pr-5">Dashboard</a>
      <a href="/login" id="logout" class="pr-5">Logout</a>
      {{else}}
      <a href="/" id= "homepage" class="pr-5">Home</a>
      <a href="/login" id="login" class="pr-5">Login</a>
      <a href="/signup" id="signup" class="pr-5">Sign Up</a>
      {{/if}}
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
