<section class="dashboard">
<div class="container display-flex">
  <div class="userposts-container box col-12">
    {{#each blogPost as |userpost|}}
      <a href="/dashboard/edit/{{userpost.id}}" class="post-link">
        <div class="card flex-column box-shadow m-3">
          <div class="card-header display-flex justify-space-between">
            <h2 class="post-title">{{userpost.postTitle}}</h2>
            <h3 class="post-date">{{format_date userpost.postDate}}</h3>
          </div>
                    <div class="card-body bg-light" style="flex: 1; color: black">
              <p>{{userpost.postContent}}</p>
            </div>
        </div>
      </a>

    {{/each}}

    <div class="dashboard-btn-container justify-center m-5">
      <button class="btn btn-primary" id="dashboard-btn">Create new post!</button>
    </div>
  </div>
</section>

<script src="/js/dashboard.js"></script>